$skewBorderColor: #494b50;
$gapBetweenSkewBordersColor: #3a3c40;
$coperColor: #3a3c40;
$lightCoperColor: #494b50;
$contentInnerMiddleColor: rgba(0,0,0,0);
$railMainSideColor: rgba(201, 219, 220, .87);
$railEdgeColor: rgba(10,117,102, .76);
$contentInnerColor: $railMainSideColor;
