$leftRailTopBorderZindex: 100;
$skewBorderSecondZindex: 110;
$gapBetweenSkewBordersZindex: 120;
//$aSidesZindex: 80;
$underlayZindex: 80;
$centerSideZindex: 90;
$chatViewBorderZindex: 85;
$chatViewContentZindex: 95;

$chatViewContentTopEdge: 1;
$chatViewContentMessage: 2;
$chatViewContentBottomEdge: 1;

$modalWindowContent: 1;

$chatsContainerZindex: 30;
$decomposeWhenTranslationLeftZindex: 150;
